#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #D9CBB8;
    opacity: 0.7;
    border-radius: 15px;
    margin: 30px auto 0 auto;
}

#main-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo img {
    width: 70px;
    height: auto;
    padding-left: 20px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #2B2B2B;
}

.nav-icon img {
    width: 28px;
    height: 28px;
    margin-left: 20px;
}

#hamburger {
    display: none;
}

#close {
    display: none;
}

.overlay {
    display: block;
}

@media (max-width: 760px) {

    #main-header {
        width: 95%;
        height: 50px;
        margin: 30px auto 0 auto;
        padding: 10px 0;
        border-radius: 15px;
        background-color: #D9CBB8;
        opacity: 0.9;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    #main-header nav {
        justify-content: center;
        position: relative;
        height: auto;
        padding: 0 20px;
    }

    .logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 10px;
        z-index: 1001;
    }

    #hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        cursor: pointer;
        z-index: 1002;

    }

    .nav-menu,
    .nav-right {
        display: none;
    }

     .overlay {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 200px;
        background: #F8F7F4;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        z-index: 1000;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 4px 10px #9C8F83;
    }

    .overlay.open {
        display: flex;
    }

    .overlay.open .nav-menu {
        position: static;
        transform: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .overlay.open .nav-menu li a {
        font-size: 22px;
        font-weight: 500;
        color: #2B2B2B;
        text-decoration: none;
    }

    #close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 28px;
        height: 28px;
        cursor: pointer;
        z-index: 1002;
    }

    .nav-icon {
        display: none;
    }
}