#main-header {
    width: 95%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #D9CBB8;
    opacity: 0.7;
    border-radius: 15px;
    margin: 30px auto 0 auto;
}

#main-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo img {
    width: 70px;
    height: auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: 0 auto;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #2B2B2B;
}

.nav-icon img {
    width: 28px;
    height: 28px;
    margin-left: 20px;
}

#hamburger {
    display: none;
}

#close {
    display: none;
}