h3 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin: 40px 0 20px 0;
}

p {
    font-size: 20px;
    line-height: 30px;
    max-width: 800px;
    margin: 0 auto 40px auto;
    text-align: center;
}

// Hero Section

#hero-section {
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-img-lg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-content {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;
}

.hero-content .btn {
    width: 180px;
    height: 80px;
    padding: 0;  
    font-size: 24px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 15px 25px;
    background-color: #F8F7F4;
    border-radius: 15px;
    font-family: "Questrial", sans-serif;
    color: #2B2B2B;
    cursor: pointer;
    border: none;
    outline: none;
}

.hero-content .btn:hover {
    background-color: #2B2B2B;
    color: #F8F7F4;
}

// Scrub | Scroll Sequence

#scroll-view {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

// Features
.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.features img {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

// Promo Posters
.promo-posters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.promo-posters img {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

/* Mobile */
@media screen and (max-width: 760px) {
    h3 {
        font-size: 32px;
        margin-bottom: 15px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
        padding: 0 15px;
    }

    #hero-section {
        background-image: url('../images/hero-img-sm.jpg');
        height: 60vh;
    }

    .hero-content {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 10px;
        text-align: center;
    }

    .hero-content .btn {
        font-size: 16px;
        width: 160px;
        height: 60px;
        padding: 10px 15px;
    }

    .promo-posters img {
        width: 100%;
        margin: 0 auto;
    }

    .features img {
        width: 100%;
        margin: 0 auto;
    }

}